# Django
__pycache__/
*.pyc
db.sqlite3
.env
.env.local
venv/
service-account.json
uploads/

# Node / Next.js (future)
node_modules/
.next/

# OS
.DS_Store

Frontend/.env.loca
backend/.envl
backend/venv/